# In this file we are going to analyse data using SQL . The reason I am doing it through Jupyter notebook is beacause it can store the queries as well as their results which is not avaialable in any of the sql applications

# Necessary procedures to load SQL database.

In [1]:
%load_ext sql

In [6]:
%sql sqlite:///Supermarket.sqlite3

# Analysing Supermarket dataset

In [38]:
#Presenting the dataset

In [7]:
%sql SELECT * FROM supermarket limit(10)

 * sqlite:///Supermarket.sqlite3
Done.

[('750-67-8428', 'A', 'Yangon', 'Member', 'Female', 'Health and beauty', 74.69, 7, 26.1415, 548.9715, '01/05/2019', '13:08', 'Ewallet', 522.83, 4.761904762, 26.1415, 9.1, None),
 ('226-31-3081', 'C', 'Naypyitaw', 'Normal', 'Female', 'Electronic accessories', 15.28, 5, 3.82, 80.22, '03/08/2019', '10:29', 'Cash', 76.4, 4.761904762, 3.82, 9.6, None),
 ('631-41-3108', 'A', 'Yangon', 'Normal', 'Male', 'Home and lifestyle', 46.33, 7, 16.2155, 340.5255, '03/03/2019', '13:23', 'Credit card', 324.31, 4.761904762, 16.2155, 7.4, None),
 ('123-19-1176', 'A', 'Yangon', 'Member', 'Male', 'Health and beauty', 58.22, 8, 23.288, 489.048, '1/27/2019', '20:33', 'Ewallet', 465.76, 4.761904762, 23.288, 8.4, None),
 ('373-73-7910', 'A', 'Yangon', 'Normal', 'Male', 'Sports and travel', 86.31, 7, 30.2085, 634.3785, '02/08/2019', '10:37', 'Ewallet', 604.17, 4.761904762, 30.2085, 5.3, '99.96'),
 ('699-14-3026', 'C', 'Naypyitaw', 'Normal', 'Male', 'Electronic accessories', 85.39, 7, 29.8865, 627.6165, '3/25/2019', '18:30', 'Ewallet', 597.73, 4.761904762, 29.8865, 4.1, None),
 ('355-53-5943', 'A', 'Yangon', 'Member', 'Female', 'Electronic accessories', 68.84, 6, 20.652, 433.692, '2/25/2019', '14:36', 'Ewallet', 413.04, 4.761904762, 20.652, 5.8, None),
 ('315-22-5665', 'C', 'Naypyitaw', 'Normal', 'Female', 'Home and lifestyle', 73.56, 10, 36.78, 772.38, '2/24/2019', '11:38', 'Ewallet', 735.6, 4.761904762, 36.78, 8.0, None),
 ('665-32-9167', 'A', 'Yangon', 'Member', 'Female', 'Health and beauty', 36.26, 2, 3.626, 76.146, '01/10/2019', '17:15', 'Credit card', 72.52, 4.761904762, 3.626, 7.2, None),
 ('692-92-5582', 'B', 'Mandalay', 'Member', 'Female', 'Food and beverages', 54.84, 3, 8.226, 172.746, '2/20/2019', '13:27', 'Credit card', 164.52, 4.761904762, 8.226, 5.9, None)]

In [ ]:
#To find the date at which highest gross income was generated

In [9]:
%sql select date,max(grossincome) from supermarket

 * sqlite:///Supermarket.sqlite3
Done.

[('2/15/2019', 49.65)]

In [ ]:
#To find the product having maximum unit price

In [10]:
%sql select product,max(unitprice) from supermarket

 * sqlite:///Supermarket.sqlite3
Done.

[('Sports and travel', 99.96)]

In [ ]:
#To find the number of transactions in each city

In [39]:
%sql select city,count(City) as number from supermarket group by city

 * sqlite:///Supermarket.sqlite3
Done.

[('Mandalay', 332), ('Naypyitaw', 328), ('Yangon', 340)]

In [ ]:
#To find the comaprison of customers

In [26]:
%sql select customer,count(customer) as Number from supermarket group by customer

 * sqlite:///Supermarket.sqlite3
Done.

[('Member', 501), ('Normal', 499)]

In [ ]:
#To find the comparison of gender

In [25]:
%sql select gender,count(gender) as Number from supermarket group by gender

 * sqlite:///Supermarket.sqlite3
Done.

[('Female', 501), ('Male', 499)]

In [ ]:
#To find the product having highest unit price.

In [28]:
%sql select product,max(quantity) as Highest_quantity_sold from supermarket

 * sqlite:///Supermarket.sqlite3
Done.

[('Home and lifestyle', 10)]

In [ ]:
#To order the whole data in the decreasing order of gross income.

In [8]:
%sql select * from supermarket order by grossincome desc limit 10

 * sqlite:///Supermarket.sqlite3
Done.

[('860-79-0874', 'C', 'Naypyitaw', 'Member', 'Female', 'Fashion accessories', 99.3, 10, 49.65, 1042.65, '2/15/2019', '14:53', 'Credit card', 993.0, 4.761904762, 49.65, 6.6, None),
 ('687-47-8271', 'A', 'Yangon', 'Normal', 'Male', 'Fashion accessories', 98.98, 10, 49.49, 1039.29, '02/08/2019', '16:20', 'Credit card', 989.8, 4.761904762, 49.49, 8.7, None),
 ('283-26-5248', 'C', 'Naypyitaw', 'Member', 'Female', 'Food and beverages', 98.52, 10, 49.26, 1034.46, '1/30/2019', '20:23', 'Ewallet', 985.2, 4.761904762, 49.26, 4.5, None),
 ('751-41-9720', 'C', 'Naypyitaw', 'Normal', 'Male', 'Home and lifestyle', 97.5, 10, 48.75, 1023.75, '01/12/2019', '16:18', 'Ewallet', 975.0, 4.761904762, 48.75, 8.0, None),
 ('303-96-2227', 'B', 'Mandalay', 'Normal', 'Female', 'Home and lifestyle', 97.38, 10, 48.69, 1022.49, '03/02/2019', '17:16', 'Ewallet', 973.8, 4.761904762, 48.69, 4.4, None),
 ('744-16-7898', 'B', 'Mandalay', 'Normal', 'Female', 'Home and lifestyle', 97.37, 10, 48.685, 1022.385, '1/15/2019', '13:48', 'Credit card', 973.7, 4.761904762, 48.685, 4.9, None),
 ('271-88-8734', 'C', 'Naypyitaw', 'Member', 'Female', 'Fashion accessories', 97.21, 10, 48.605, 1020.705, '02/08/2019', '13:00', 'Credit card', 972.1, 4.761904762, 48.605, 8.7, None),
 ('234-65-2137', 'C', 'Naypyitaw', 'Normal', 'Male', 'Home and lifestyle', 95.58, 10, 47.79, 1003.59, '1/16/2019', '13:32', 'Cash', 955.8, 4.761904762, 47.79, 4.8, None),
 ('554-42-2417', 'C', 'Naypyitaw', 'Normal', 'Female', 'Sports and travel', 95.44, 10, 47.72, 1002.12, '01/09/2019', '13:45', 'Cash', 954.4, 4.761904762, 47.72, 5.2, None),
 ('325-77-6186', 'A', 'Yangon', 'Member', 'Female', 'Home and lifestyle', 90.65, 10, 45.325, 951.825, '03/08/2019', '10:53', 'Ewallet', 906.5, 4.761904762, 45.325, 7.3, None)]

In [ ]:
#To find the maximum rating

In [32]:
%sql select max(rating) from supermarket

 * sqlite:///Supermarket.sqlite3
Done.

[(10.0,)]

In [ ]:
#To find the total number of each payment

In [35]:
%sql select payment,count(payment) as Number from supermarket group by payment

 * sqlite:///Supermarket.sqlite3
Done.

[('Cash', 344), ('Credit card', 311), ('Ewallet', 345)]

In [ ]:
#To find the total number of each product

In [37]:
%sql select product,count(product) as number from supermarket group by product

 * sqlite:///Supermarket.sqlite3
Done.

[('Electronic accessories', 170),
 ('Fashion accessories', 178),
 ('Food and beverages', 174),
 ('Health and beauty', 152),
 ('Home and lifestyle', 160),
 ('Sports and travel', 166)]

In [ ]:
%sql

In [ ]:
%sql

In [ ]:
%sql